#cnt{
    margin-top: 20%;
    background-color: rgba(70, 130, 180, 0.7);
    border-radius: 9px;
    padding-bottom: 5px;
}
.myPhoto{
    width: 200px;
}
#main-row{
    padding: 10px;
}
body{
    background-color: inherit;
}
html{
    background:url(../img/bg.jpeg) center center no-repeat;
    background-size: cover;
    min-height: 100%;
    max-height: 100%;
}
h1{
    color: white !important;
}
p{
    font-size: 20px;
    color:black;
}
.link i{
    color: white !important;
}
.link i:hover{
    color: black !important;
}
div.col-1{
    margin: 5px !important;
}